<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="add">
        <form action="/user/add" method="post">
            <table>
                <tr>
                    <th>First name:</th>
                    <td><input type="text" name="firstname"></td>
                </tr>
                <tr>
                    <th>Last name:</th>
                    <td><input type="text" name="lastname"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Register"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>